<?xml version="1.0" encoding="utf-8"?>
<!--
    Copyright 2012 Daniel Kreischer, Christopher Holm, Christopher Schwardt

    This file is part of TeamMeet.

    TeamMeet is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TeamMeet is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with TeamMeet.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.teammeet"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/group_invitation_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActivityTheme" >
        <activity
            android:name="MainActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".location.LocationService" >
        </service>
        <service android:name=".xmpp.XMPPService" >
        </service>

        <activity
            android:name="TeamMeetActivity"
            android:theme="@style/CustomActivityThemeOverlay" >
        </activity>
        <activity android:name=".RosterActivity" >
        </activity>
        <activity android:name=".SettingsActivity" >
        </activity>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>